.App {
  text-align: center;
  border: solid black;
  height: 500vh;
  margin: 2em;
  display: flex;
}
.homepage{
  border: solid peru;
  width: 50%;
  margin: 3px;
}
.emp_page{
  border: solid brown;
  width: 50%;
  margin: 3px;
}
.header{
  border: solid rgb(50, 181, 243);
  margin: 3px;
  padding: 15px;
}
.searchbar{
  border: solid green;
  margin: 3px;
}
.searchinput{
  border: 1px solid #e8e5e5;
  width: 85%;
  border-radius: 15px;
  margin: 5px 10px;
  padding: 10px 20px;
}
.employeeList{
  border: solid purple;
  margin: 3px;
}
.employeeListItem{
  border: solid palevioletred;
  margin: 3px;
}
.emp_item{
  padding: 10px;
  display: flex;
}

.img_Emp img{
  height: 70px;
}
.name_Emp{
text-align: left;
padding-left: 30px;
}
.name_Emp h1{
  font-size: 20px;
  margin: 0;
  padding-top: 15px;
}
.name_Emp h5, .emp_infos h6{
  font-size: 15px;
  color: gray;
  margin: 0;
  padding-top: 3px;
}
.emp_Infos{
  border: 1px solid #eee;
  padding: 30px 0 0;
  margin: 10px;
  border-radius: 10px;
}
.emp_item_p{
  display: flex;
}
.emp_Infos img {
  height: 90px;
}
.emp_infos{
  display: flex;
  border: 1px solid #eee;
  padding: 15px;
}
.emp_infos h3,.emp_infos h6{
  margin: 0;
}
.emp_infos .info{
  width: 90%;
  text-align: left;
}
.btn_info img{
  height: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


